body {
    font: 30px cursive, Futura, sans-serif;
    margin: 20px;
    color: #5d0070ef;

    background-color: #ffffffef;
}

ol,
ul {
    padding-left: 30px;
}

.status {
    margin-bottom: 10px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.MuiButton-root {
    width: 100%;
    height: 100%;
}
